
/* .carousel-custom-caption{
    padding:100px 220px 82px 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
  
   
}*/
.arousel-custom-caption p{
    font-size: 34px;
} 

.section-2-text{
   color: #777777;
}