

.arousel-custom-caption p{
    font-size: 34px;
} 

.section-2-text{
   color: #777777;
}
.e-learning{
    background: #F4FAFD;
}

footer {
    color: rgba(248, 240, 240, 0.986);
    background-color: #000000;
}
.icon{
    letter-spacing: 15px;
}